<div class="container">
    <mat-toolbar>
        <h1>Usuarios</h1>
        <div class="spacer"></div>
        <button mat-raised-button color="primary" routerLink="/dashboard/crear-usuario">Agregar</button>
    </mat-toolbar>

    <div *ngIf="listUsuario.length > 0">
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
  
      <div>
        <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">
    
            <!-- Position Column -->
            <ng-container matColumnDef="us">
              <th mat-header-cell *matHeaderCellDef mat-sort-header > Us. </th>
              <td mat-cell *matCellDef="let element"> {{element.us}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="apellido">
              <th mat-header-cell *matHeaderCellDef> Apellido </th>
              <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="sexo">
              <th mat-header-cell *matHeaderCellDef> Sexo </th>
              <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
            </ng-container>
    
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element, let i = index" style="text-align: right;">
                    <a class="pointer" style="color: rgb(24, 70, 224)" matTooltip="Ver Usuario">
                        <mat-icon>search</mat-icon>
                    </a >
                    <a class="pointer" style="color: rgb(27, 189, 67)" matTooltip="Editar Usuario">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <a class="pointer" (click)= "eliminarUs(i)" style="color: rgb(209, 52, 105)" matTooltip="Eliminar Usuario">
                        <mat-icon>delete</mat-icon>
                    </a>
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [length]="100"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  aria-label="Select page">
          </mat-paginator>
      </div>
    </div>
    <h2 *ngIf="listUsuario.length === 0">No hay registros para mostrar</h2>

  </div>

